# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
downloads/
lib/
lib64/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# Mac or Windows system files
.DS_Store
Thumbs.db

# Other
.env
models/